<div class="container">
    <div class="card">
        <div class="card-body"  style="height: 300px;">
            <div class=" p-1 mb-2">
                <input type="text" class="form-control" #tarea placeholder="Ingrese nombre tarea">
              </div>
              <div class="p-1 mb-4">
                <textarea class="form-control" #descripcion placeholder="Ingrese descripcion"  rows="4"></textarea>
              </div>
          <button class="btn btn-primary d-block mx-auto px-5" (click)="enviar(tarea.value, descripcion.value)"  >Guardar</button>



        </div>
      </div>

      <div class="card">
        <div class="card-body " style="height: 350px;">
            <h5 class="card-title text-center mb-5">Lista de Tareas</h5>
            <div class="card" style="width: 10rem; margin: 0 auto; padding: 20px;">
                <ul *ngFor="let tarea of tareas">
                    <li>{{tarea[0]}}</li>
                </ul>
            </div>
        </div>
    </div>


</div>